/* Style the list */
ul {
    list-style-type: none; /* Remove the bullet points */
    margin:auto; /* Remove the default margin */
    padding: 0; /* Remove the default padding */
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
/* Style the list items */
li {
    display: flex; /* Use flex layout for the items */
    align-items: center; /* Align the items vertically */
    margin: 0.5em; /* Add some spacing between the items */
    padding: 0.5em; /* Add some padding to the items */
    justify-content: center;
}

/* Style the boxes within the list items */
li .contactInfo, .personName, .lastSeen, .closestDistance {
    display: flex; /* Use flex layout for the boxes */
    align-items: center; /* Align the content of the boxes vertically */
    justify-content: center;
    text-align: justify; /* Center the content of the boxes horizontally */
    width: 16vw; /* Set the width of the boxes */
    height: 80px; /* Set the height of the boxes */
    margin-right: 0.5em; /* Add some spacing between the boxes and the other content */
    border-radius: 4px; /* Round the corners of the boxes */
    font-size: 1.5vw;
}

.centerList {
    width: 100%;
}

div {
    width:100%;
}

body{
    text-align: center;
    width:100%;
}

li .contactInfo, .closestDistance {
    background-color: #eee; /* Set the background color of the boxes */
}

li .personName, .lastSeen {
    background-color: lightgrey; /* Set the background color of the boxes */
}

li .contactInfo {
    font-size: 0.35vw;
    text-align: left;
}

span {
    padding: 3.5em;
    padding-right: 2.5em;
    font-weight: bold;
    font-size: 1.35vw;
}

body {
    background-color:cornsilk;
}
